# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
.env/

# IDE
.vscode/
.idea/

# Data
data/raw/
data/interim/
data/processed/
data/test/

# Keep reference data
!data/reference/
!data/reference/*.csv

# Logs
logs/
*.log